/* Admin styles for WP Logify */
.wrap .form-table th {
    width: 150px;
}

.table-wp-logify {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    th {
        background-color: #f1f1f1;
        text-align: left;
    }

    .column-id {
        width: 50px;
    }
}

.dataTables_wrapper {
    .dataTables_paginate .paginate_button {
        padding: 0.2em 0.5em;
    }

    .dataTables_filter {
        display: none;
        /* Hide default DataTables search box */
    }

    .dataTables_length select {
        width: 53px;
    }
}

.wp-logify-user-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;

    a {
        font-weight: bold;
    }
}

.wp-logify-user-role {
    font-size: 0.9em;
    color: #555;
}

.wrap .wp-logify-settings-table {
    width: 100%;

    th {
        width: 14rem;
    }
}

.wp-logify-settings-radio {
    display: block;
    margin: 0.5rem 0;
}
