$blue: #2271b1;
$light-blue: hsl(200, 66%, 65%);
$pale-blue: hsl(200, 66%, 85%);
$very-pale-blue: hsl(200, 66%, 95%);

$dark-grey: #555;
$light-grey: #ddd;
$pale-grey: #eee;
$very-pale-grey: #f7f7f7;

.table-wp-logify {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid $light-grey;
        padding: 0.5rem;
    }

    th {
        background-color: $very-pale-grey;
        text-align: left;
    }


    th.dt-type-numeric.column-id {
        text-align: left;
    }

    td {
        cursor: pointer;
    }
}

.dataTables_wrapper {
    .dataTables_paginate .paginate_button {
        padding: 0.2rem 0.5rem;
    }

    .dataTables_filter {
        display: none;
        /* Hide default DataTables search box */
    }

    .dataTables_length select {
        width: 53px;
    }
}

#wp-logify-activity-log_length {
    margin-bottom: 1rem;
}

#wp-logify-activity-log_processing {
    margin-top: -8px;
    background: repeating-linear-gradient(45deg, $very-pale-blue, $very-pale-blue 1rem, white 1rem, white 2rem);
    background-size: 200% 200%;
    animation: slide 60s linear infinite;
    border: solid 1px $pale-blue;
}

@keyframes slide {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0%;
    }
}

#wp-logify-activity-log {
    th.details-control {
        text-align: center;
    }

    td.details-control {
        text-align: center;
    }

    .wp-logify-show-details {
        background-color: $pale-grey;
        color: $blue;
        padding: 0.25rem 0.5rem;
        border-radius: 3px;
        cursor: pointer;
    }
}

.dt-search {
    margin: 1rem 0 0.5rem 0;
}

#dt-search-0 {
    background-color: white;
    width: 20rem;
}

.wp-logify-details {
    margin-bottom: 1rem;

    .wp-logify-details-section {
        display: inline-block;
        margin-left: 1rem;

        h4 {
            margin-bottom: 0.25rem;
        }

        .wp-logify-details-table {
            border-collapse: collapse;
        }

        .wp-logify-user-details-table {
            th {
                width: 8rem;
            }

            td {
                width: 18rem;
            }
        }

        .wp-logify-eventmeta-table {
            th {
                width: 12rem;
            }

            td {
                width: 16rem;
            }
        }

        .wp-logify-properties-table {
            th {
                width: 12rem;
            }

            td {
                width: 16rem;
            }
        }
    }
}

.wp-logify-user-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.5rem;

    a {
        font-weight: bold;
    }

    .wp-logify-user-role {
        font-size: 0.9em;
        color: #555;
    }
}
