#wp-logify-activity-log_length {
    margin-bottom: 1rem;
}

$progress-bar-stripe-color: hsl(200, 66%, 95%);
$progress-bar-border-color: hsl(200, 66%, 85%);

#wp-logify-activity-log_processing {
    margin-top: -8px;
    background: repeating-linear-gradient(45deg, $progress-bar-stripe-color, $progress-bar-stripe-color 1rem, #ffffff 1rem, #ffffff 2rem);
    background-size: 200% 200%;
    animation: slide 60s linear infinite;
    border: solid 1px $progress-bar-border-color;
}

@keyframes slide {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0%;
    }
}
