.logify-wp-stats {
  display: flex;
  gap: 0.5rem;
}

.logify-wp-stats-box {
  flex: 1;
  box-sizing: border-box;
  padding: 0.5rem;
  text-align: center;
  border: solid 1px #ddd;
  background-color: #f7f7f7;
}

.logify-wp-stats-number {
  font-size: 4rem;
  margin: 0;
}

.logify-wp-stats-title {
  margin: 0;
  font-size: 1rem;
}

.logify-wp-widget-links {
  margin: 0;
  padding-bottom: 0.25rem;
}
.logify-wp-widget-links li {
  display: inline;
}
.logify-wp-widget-links .logify-wp-separator {
  color: #ddd;
  padding: 0 0.5rem;
}

#logify-wp-dashboard-table {
  width: 100%;
  border-collapse: collapse;
  border: solid 1px #808080;
  margin: 1rem 0;
}
#logify-wp-dashboard-table .logify-wp-object-type-all {
  background-color: white;
  border-color: #eee;
}
#logify-wp-dashboard-table .logify-wp-object-type-comment {
  background-color: #d6ffff;
  border-color: #80ffff;
}
#logify-wp-dashboard-table .logify-wp-object-type-core {
  background-color: #ffd6ff;
  border-color: #ffb3ff;
}
#logify-wp-dashboard-table .logify-wp-object-type-option {
  background-color: #e0d6ff;
  border-color: #cfb3ff;
}
#logify-wp-dashboard-table .logify-wp-object-type-plugin {
  background-color: #d6ffd6;
  border-color: #99ff99;
}
#logify-wp-dashboard-table .logify-wp-object-type-post {
  background-color: #d6e0ff;
  border-color: #b3cfff;
}
#logify-wp-dashboard-table .logify-wp-object-type-taxonomy {
  background-color: #ffd6e0;
  border-color: #ffb3cf;
}
#logify-wp-dashboard-table .logify-wp-object-type-term {
  background-color: #ffd6d6;
  border-color: #ffb3b3;
}
#logify-wp-dashboard-table .logify-wp-object-type-theme {
  background-color: #ffe0d6;
  border-color: #ffcfb3;
}
#logify-wp-dashboard-table .logify-wp-object-type-translation {
  background-color: #d6ffe0;
  border-color: #b3ffcf;
}
#logify-wp-dashboard-table .logify-wp-object-type-user {
  background-color: #fcfccf;
  border-color: #ebeb47;
}
#logify-wp-dashboard-table .logify-wp-object-type-widget {
  background-color: #e8ffd6;
  border-color: #bbff80;
}
#logify-wp-dashboard-table th,
#logify-wp-dashboard-table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
}
#logify-wp-dashboard-table th {
  background-color: #f7f7f7;
  text-align: left;
}
#logify-wp-dashboard-table .logify-wp-deleted-object {
  font-style: italic;
}
#logify-wp-dashboard-table .logify-wp-event-row {
  cursor: pointer;
  background-color: #f7f7f7;
}
#logify-wp-dashboard-table .logify-wp-event-row:hover {
  background-color: white;
}
#logify-wp-dashboard-table .logify-wp-event-type {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
}