.toplevel_page_logify-wp {
  background-color: #eee;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.2rem 0.5rem;
}
.dataTables_wrapper .dataTables_filter {
  display: none;
  /* Hide default DataTables search box */
}
.dataTables_wrapper .dataTables_length select {
  width: 3.25rem;
}

#logify-wp-activity-log_length {
  margin-bottom: 1rem;
}

#logify-wp-activity-log_processing {
  margin-top: -0.5rem;
  background: repeating-linear-gradient(45deg, #ebf0ff, #ebf0ff 1rem, white 1rem, white 2rem);
  background-size: 200% 200%;
  animation: slide 60s linear infinite;
  border: solid 1px #b3cfff;
}

@keyframes slide {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0%;
  }
}
#logify-wp-activity-log {
  width: 100%;
  border-collapse: collapse;
}
#logify-wp-activity-log .logify-wp-object-type-all {
  background-color: white;
  border-color: #eee;
}
#logify-wp-activity-log .logify-wp-object-type-comment {
  background-color: #d6ffff;
  border-color: #80ffff;
}
#logify-wp-activity-log .logify-wp-object-type-core {
  background-color: #ffd6e0;
  border-color: #ffb3cf;
}
#logify-wp-activity-log .logify-wp-object-type-option {
  background-color: #e0d6ff;
  border-color: #cfb3ff;
}
#logify-wp-activity-log .logify-wp-object-type-plugin {
  background-color: #d6ffd6;
  border-color: #99ff99;
}
#logify-wp-activity-log .logify-wp-object-type-post {
  background-color: #d6e0ff;
  border-color: #b3cfff;
}
#logify-wp-activity-log .logify-wp-object-type-taxonomy {
  background-color: #ffd6ff;
  border-color: #ffb3ff;
}
#logify-wp-activity-log .logify-wp-object-type-term {
  background-color: #ffd6d6;
  border-color: #ffb3b3;
}
#logify-wp-activity-log .logify-wp-object-type-theme {
  background-color: #ffe0d6;
  border-color: #ffcfb3;
}
#logify-wp-activity-log .logify-wp-object-type-translation {
  background-color: #d6ffe0;
  border-color: #b3ffcf;
}
#logify-wp-activity-log .logify-wp-object-type-user {
  background-color: #fcfccf;
  border-color: #ebeb47;
}
#logify-wp-activity-log .logify-wp-object-type-widget {
  background-color: #e8ffd6;
  border-color: #bbff80;
}
#logify-wp-activity-log th,
#logify-wp-activity-log td {
  border: 1px solid #ddd;
  padding: 0.5rem;
}
#logify-wp-activity-log th {
  text-align: left;
  background-color: #f7f7f7;
}
#logify-wp-activity-log th.dt-type-numeric.column-id {
  text-align: left;
}
#logify-wp-activity-log td {
  cursor: pointer;
}
#logify-wp-activity-log .logify-wp-summary-row td {
  vertical-align: middle;
  background-color: #f7f7f7;
}
#logify-wp-activity-log .logify-wp-summary-row.shown > td,
#logify-wp-activity-log .logify-wp-summary-row.shown > th, #logify-wp-activity-log .logify-wp-summary-row:hover > td,
#logify-wp-activity-log .logify-wp-summary-row:hover > th,
#logify-wp-activity-log .logify-wp-details-row.shown > td,
#logify-wp-activity-log .logify-wp-details-row.shown > th,
#logify-wp-activity-log .logify-wp-details-row:hover > td,
#logify-wp-activity-log .logify-wp-details-row:hover > th {
  background-color: white;
}
#logify-wp-activity-log .logify-wp-deleted-object {
  font-style: italic;
}
#logify-wp-activity-log .logify-wp-event-type {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
}

.dt-search {
  margin: 1rem 0 0.5rem 0;
}

#dt-search-0 {
  background-color: white;
  width: 20rem;
}

.logify-wp-details {
  margin-bottom: 1rem;
}
.logify-wp-details .logify-wp-details-section {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: top;
}
.logify-wp-details .logify-wp-details-section .logify-wp-details-table-wrapper {
  max-height: 32rem;
  overflow-y: auto;
}
.logify-wp-details .logify-wp-details-section table {
  border-collapse: collapse;
}
.logify-wp-details .logify-wp-details-section table th,
.logify-wp-details .logify-wp-details-section table td {
  vertical-align: top;
}
.logify-wp-details .logify-wp-details-section h4 {
  margin-bottom: 0.25rem;
}
.logify-wp-details .logify-wp-details-section .logify-wp-details-table > tbody > tr > td {
  background-color: white;
}
.logify-wp-details .logify-wp-details-section .logify-wp-details-table > tbody > tr > td.logify-wp-value-unchanged {
  background-color: #f7f7f7;
}
.logify-wp-details .logify-wp-details-section .logify-wp-user-details-table > tbody > tr > th {
  width: 8rem;
}
.logify-wp-details .logify-wp-details-section .logify-wp-user-details-table > tbody > tr > td {
  width: 22rem;
}
.logify-wp-details .logify-wp-details-section .logify-wp-properties-table > tbody > tr > th {
  width: 14rem;
}
.logify-wp-details .logify-wp-details-section .logify-wp-properties-table > tbody > tr > td {
  width: 24rem;
}
.logify-wp-details .logify-wp-details-section .logify-wp-eventmeta-table > tbody > tr > th {
  width: 14rem;
}
.logify-wp-details .logify-wp-details-section .logify-wp-eventmeta-table > tbody > tr > td {
  width: 22rem;
}

.logify-wp-user-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5rem;
}
.logify-wp-user-info a {
  font-weight: bold;
}
.logify-wp-user-info .logify-wp-user-role {
  font-size: 0.9em;
  color: #555;
}

#logify-wp-object-type-filter {
  margin-top: 1rem;
}
#logify-wp-object-type-filter .logify-wp-object-type-all {
  background-color: white;
  border-color: #eee;
}
#logify-wp-object-type-filter .logify-wp-object-type-comment {
  background-color: #d6ffff;
  border-color: #80ffff;
}
#logify-wp-object-type-filter .logify-wp-object-type-core {
  background-color: #ffd6e0;
  border-color: #ffb3cf;
}
#logify-wp-object-type-filter .logify-wp-object-type-option {
  background-color: #e0d6ff;
  border-color: #cfb3ff;
}
#logify-wp-object-type-filter .logify-wp-object-type-plugin {
  background-color: #d6ffd6;
  border-color: #99ff99;
}
#logify-wp-object-type-filter .logify-wp-object-type-post {
  background-color: #d6e0ff;
  border-color: #b3cfff;
}
#logify-wp-object-type-filter .logify-wp-object-type-taxonomy {
  background-color: #ffd6ff;
  border-color: #ffb3ff;
}
#logify-wp-object-type-filter .logify-wp-object-type-term {
  background-color: #ffd6d6;
  border-color: #ffb3b3;
}
#logify-wp-object-type-filter .logify-wp-object-type-theme {
  background-color: #ffe0d6;
  border-color: #ffcfb3;
}
#logify-wp-object-type-filter .logify-wp-object-type-translation {
  background-color: #d6ffe0;
  border-color: #b3ffcf;
}
#logify-wp-object-type-filter .logify-wp-object-type-user {
  background-color: #fcfccf;
  border-color: #ebeb47;
}
#logify-wp-object-type-filter .logify-wp-object-type-widget {
  background-color: #e8ffd6;
  border-color: #bbff80;
}
#logify-wp-object-type-filter .logify-wp-object-type-filter-item {
  display: inline-block;
  padding: 0.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-right: 0.5rem;
  width: 6rem;
  border-style: solid;
  border-width: 1px;
}
#logify-wp-object-type-filter .logify-wp-object-type-filter-item label {
  cursor: inherit;
}
#logify-wp-object-type-filter .logify-wp-object-type-filter-item:nth-child(-n+6) {
  margin-bottom: 0.5rem;
}
#logify-wp-object-type-filter .logify-wp-object-type-all {
  border-color: #ddd;
  margin-top: 0;
}
#logify-wp-object-type-filter .logify-wp-object-type-all:hover {
  background-color: #eee;
}

#logify-wp-object-type-checkboxes {
  display: inline;
}
#logify-wp-object-type-checkboxes .logify-wp-object-type-comment:hover {
  background-color: #ebffff;
  border-color: #80ffff;
}
#logify-wp-object-type-checkboxes .logify-wp-object-type-core:hover {
  background-color: #ffebf0;
  border-color: #ffb3cf;
}
#logify-wp-object-type-checkboxes .logify-wp-object-type-option:hover {
  background-color: #f0ebff;
  border-color: #cfb3ff;
}
#logify-wp-object-type-checkboxes .logify-wp-object-type-plugin:hover {
  background-color: #ebffeb;
  border-color: #99ff99;
}
#logify-wp-object-type-checkboxes .logify-wp-object-type-post:hover {
  background-color: #ebf0ff;
  border-color: #b3cfff;
}
#logify-wp-object-type-checkboxes .logify-wp-object-type-taxonomy:hover {
  background-color: #ffebff;
  border-color: #ffb3ff;
}
#logify-wp-object-type-checkboxes .logify-wp-object-type-term:hover {
  background-color: #ffebeb;
  border-color: #ffb3b3;
}
#logify-wp-object-type-checkboxes .logify-wp-object-type-theme:hover {
  background-color: #fff0eb;
  border-color: #ffcfb3;
}
#logify-wp-object-type-checkboxes .logify-wp-object-type-translation:hover {
  background-color: #ebfff0;
  border-color: #b3ffcf;
}
#logify-wp-object-type-checkboxes .logify-wp-object-type-user:hover {
  background-color: #ffffeb;
  border-color: #ebeb47;
}
#logify-wp-object-type-checkboxes .logify-wp-object-type-widget:hover {
  background-color: #f4ffeb;
  border-color: #bbff80;
}

#logify-wp-filters {
  border-collapse: collapse;
  margin: 1rem 0;
  background-color: #f7f7f7;
}
#logify-wp-filters td {
  width: 400px;
  padding: 1rem;
  border: solid 1px #ddd;
  vertical-align: top;
}
#logify-wp-filters .logify-wp-filter-label {
  margin-bottom: 0.25rem;
}
#logify-wp-filters .hasDatepicker {
  background-image: url("../images/calendar.png");
  background-position: right center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding-right: 0.25rem;
  width: 11rem;
}

#ui-datepicker-div .ui-icon-circle-triangle-w {
  background-image: url("../images/TriangleArrow-Left.svg");
  background-position: 0.125rem 0.125rem;
  background-size: 0.75rem 0.75rem;
}
#ui-datepicker-div .ui-icon-circle-triangle-e {
  background-image: url("../images/TriangleArrow-Right.svg");
  background-position: 0.125rem 0.125rem;
  background-size: 0.75rem 0.75rem;
}

#logify-wp-search-filter,
#logify-wp-post-type-filter,
#logify-wp-taxonomy-filter,
#logify-wp-user-filter,
#logify-wp-role-filter,
#logify-wp-event-type-filter {
  width: 20rem;
}

#logify-wp-reset-filters-wrapper {
  margin: 1rem 0;
}