.toplevel_page_wp-logify {
  background-color: hsl(0, 0%, 93%);
}

.table-wp-logify {
  width: 100%;
  border-collapse: collapse;
}
.table-wp-logify th,
.table-wp-logify td {
  border: 1px solid hsl(0, 0%, 87%);
  padding: 0.5rem;
}
.table-wp-logify th {
  background-color: hsl(0, 0%, 97%);
  text-align: left;
}
.table-wp-logify th.dt-type-numeric.column-id {
  text-align: left;
}
.table-wp-logify td {
  cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.2rem 0.5rem;
}
.dataTables_wrapper .dataTables_filter {
  display: none;
  /* Hide default DataTables search box */
}
.dataTables_wrapper .dataTables_length select {
  width: 3.25rem;
}

#wp-logify-activity-log_length {
  margin-bottom: 1rem;
}

#wp-logify-activity-log_processing {
  margin-top: -0.5rem;
  background: repeating-linear-gradient(45deg, hsl(210, 100%, 95%), hsl(210, 100%, 95%) 1rem, white 1rem, white 2rem);
  background-size: 200% 200%;
  animation: slide 60s linear infinite;
  border: solid 1px hsl(210, 100%, 85%);
}

@keyframes slide {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0%;
  }
}
#wp-logify-activity-log .wp-logify-object-type-all {
  background-color: white;
  border-color: hsl(0, 0%, 93%);
}
#wp-logify-activity-log .wp-logify-object-type-all.shown, #wp-logify-activity-log .wp-logify-object-type-all:hover {
  background-color: hsl(0, 0%, 93%);
}
#wp-logify-activity-log .wp-logify-object-type-comment {
  background-color: hsl(180, 100%, 95%);
  border-color: hsl(180, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-comment.shown, #wp-logify-activity-log .wp-logify-object-type-comment:hover {
  background-color: hsl(180, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-core {
  background-color: hsl(330, 100%, 95%);
  border-color: hsl(330, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-core.shown, #wp-logify-activity-log .wp-logify-object-type-core:hover {
  background-color: hsl(330, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-option {
  background-color: hsl(270, 100%, 95%);
  border-color: hsl(270, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-option.shown, #wp-logify-activity-log .wp-logify-object-type-option:hover {
  background-color: hsl(270, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-plugin {
  background-color: hsl(120, 100%, 95%);
  border-color: hsl(120, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-plugin.shown, #wp-logify-activity-log .wp-logify-object-type-plugin:hover {
  background-color: hsl(120, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-post {
  background-color: hsl(210, 100%, 95%);
  border-color: hsl(210, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-post.shown, #wp-logify-activity-log .wp-logify-object-type-post:hover {
  background-color: hsl(210, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-taxonomy {
  background-color: hsl(300, 100%, 95%);
  border-color: hsl(300, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-taxonomy.shown, #wp-logify-activity-log .wp-logify-object-type-taxonomy:hover {
  background-color: hsl(300, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-term {
  background-color: hsl(0, 100%, 95%);
  border-color: hsl(0, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-term.shown, #wp-logify-activity-log .wp-logify-object-type-term:hover {
  background-color: hsl(0, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-theme {
  background-color: hsl(30, 100%, 95%);
  border-color: hsl(30, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-theme.shown, #wp-logify-activity-log .wp-logify-object-type-theme:hover {
  background-color: hsl(30, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-translation {
  background-color: hsl(150, 100%, 95%);
  border-color: hsl(150, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-translation.shown, #wp-logify-activity-log .wp-logify-object-type-translation:hover {
  background-color: hsl(150, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-user {
  background-color: hsl(60, 100%, 95%);
  border-color: hsl(60, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-user.shown, #wp-logify-activity-log .wp-logify-object-type-user:hover {
  background-color: hsl(60, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-widget {
  background-color: hsl(90, 100%, 95%);
  border-color: hsl(90, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-object-type-widget.shown, #wp-logify-activity-log .wp-logify-object-type-widget:hover {
  background-color: hsl(90, 100%, 92%);
}
#wp-logify-activity-log .wp-logify-summary-row.shown > td,
#wp-logify-activity-log .wp-logify-summary-row.shown > th, #wp-logify-activity-log .wp-logify-summary-row:hover > td,
#wp-logify-activity-log .wp-logify-summary-row:hover > th,
#wp-logify-activity-log .wp-logify-details-row.shown > td,
#wp-logify-activity-log .wp-logify-details-row.shown > th,
#wp-logify-activity-log .wp-logify-details-row:hover > td,
#wp-logify-activity-log .wp-logify-details-row:hover > th {
  border-color: hsl(0, 0%, 73%);
}
#wp-logify-activity-log .wp-logify-show-details {
  background-color: hsl(0, 0%, 93%);
  color: hsl(210, 100%, 33%);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
#wp-logify-activity-log .wp-logify-deleted-object {
  font-style: italic;
}

.dt-search {
  margin: 1rem 0 0.5rem 0;
}

#dt-search-0 {
  background-color: white;
  width: 20rem;
}

.wp-logify-details {
  margin-bottom: 1rem;
}
.wp-logify-details .wp-logify-details-section {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: top;
}
.wp-logify-details .wp-logify-details-section .wp-logify-details-table-wrapper {
  max-height: 32rem;
  overflow-y: auto;
}
.wp-logify-details .wp-logify-details-section table {
  border-collapse: collapse;
}
.wp-logify-details .wp-logify-details-section table > tbody > tr > td {
  width: 22rem;
}
.wp-logify-details .wp-logify-details-section h4 {
  margin-bottom: 0.25rem;
}
.wp-logify-details .wp-logify-details-section .wp-logify-details-table {
  border-collapse: collapse;
}
.wp-logify-details .wp-logify-details-section .wp-logify-details-table td {
  background-color: white;
}
.wp-logify-details .wp-logify-details-section .wp-logify-details-table th,
.wp-logify-details .wp-logify-details-section .wp-logify-details-table td {
  vertical-align: top;
}
.wp-logify-details .wp-logify-details-section .wp-logify-user-details-table > tbody > tr > th {
  width: 8rem;
}
.wp-logify-details .wp-logify-details-section .wp-logify-properties-table > tbody > tr > th {
  width: 14rem;
}
.wp-logify-details .wp-logify-details-section .wp-logify-eventmeta-table > tbody > tr > th {
  width: 14rem;
}
.wp-logify-details .wp-logify-details-section td.wp-logify-value-unchanged {
  background-color: hsl(0, 0%, 97%);
}

.wp-logify-user-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5rem;
}
.wp-logify-user-info a {
  font-weight: bold;
}
.wp-logify-user-info .wp-logify-user-role {
  font-size: 0.9em;
  color: hsl(0, 0%, 33%);
}

#wp-logify-object-type-filter {
  margin-top: 1rem;
}
#wp-logify-object-type-filter .wp-logify-object-type-all {
  background-color: white;
  border-color: hsl(0, 0%, 93%);
}
#wp-logify-object-type-filter .wp-logify-object-type-all.shown, #wp-logify-object-type-filter .wp-logify-object-type-all:hover {
  background-color: hsl(0, 0%, 93%);
}
#wp-logify-object-type-filter .wp-logify-object-type-comment {
  background-color: hsl(180, 100%, 95%);
  border-color: hsl(180, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-comment.shown, #wp-logify-object-type-filter .wp-logify-object-type-comment:hover {
  background-color: hsl(180, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-core {
  background-color: hsl(330, 100%, 95%);
  border-color: hsl(330, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-core.shown, #wp-logify-object-type-filter .wp-logify-object-type-core:hover {
  background-color: hsl(330, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-option {
  background-color: hsl(270, 100%, 95%);
  border-color: hsl(270, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-option.shown, #wp-logify-object-type-filter .wp-logify-object-type-option:hover {
  background-color: hsl(270, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-plugin {
  background-color: hsl(120, 100%, 95%);
  border-color: hsl(120, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-plugin.shown, #wp-logify-object-type-filter .wp-logify-object-type-plugin:hover {
  background-color: hsl(120, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-post {
  background-color: hsl(210, 100%, 95%);
  border-color: hsl(210, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-post.shown, #wp-logify-object-type-filter .wp-logify-object-type-post:hover {
  background-color: hsl(210, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-taxonomy {
  background-color: hsl(300, 100%, 95%);
  border-color: hsl(300, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-taxonomy.shown, #wp-logify-object-type-filter .wp-logify-object-type-taxonomy:hover {
  background-color: hsl(300, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-term {
  background-color: hsl(0, 100%, 95%);
  border-color: hsl(0, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-term.shown, #wp-logify-object-type-filter .wp-logify-object-type-term:hover {
  background-color: hsl(0, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-theme {
  background-color: hsl(30, 100%, 95%);
  border-color: hsl(30, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-theme.shown, #wp-logify-object-type-filter .wp-logify-object-type-theme:hover {
  background-color: hsl(30, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-translation {
  background-color: hsl(150, 100%, 95%);
  border-color: hsl(150, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-translation.shown, #wp-logify-object-type-filter .wp-logify-object-type-translation:hover {
  background-color: hsl(150, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-user {
  background-color: hsl(60, 100%, 95%);
  border-color: hsl(60, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-user.shown, #wp-logify-object-type-filter .wp-logify-object-type-user:hover {
  background-color: hsl(60, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-widget {
  background-color: hsl(90, 100%, 95%);
  border-color: hsl(90, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-widget.shown, #wp-logify-object-type-filter .wp-logify-object-type-widget:hover {
  background-color: hsl(90, 100%, 92%);
}
#wp-logify-object-type-filter .wp-logify-object-type-filter-item {
  display: inline-block;
  padding: 0.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0.25rem 0.5rem 0.25rem 0;
  width: 6rem;
  border-style: solid;
  border-width: 1px;
}
#wp-logify-object-type-filter .wp-logify-object-type-filter-item label {
  cursor: inherit;
}
#wp-logify-object-type-filter .wp-logify-object-type-all {
  border-color: hsl(0, 0%, 87%);
  margin-top: 0;
}

#wp-logify-object-type-checkboxes {
  display: inline;
}

#wp-logify-filters {
  border-collapse: collapse;
  margin: 1rem 0;
  background-color: hsl(0, 0%, 97%);
}
#wp-logify-filters td {
  width: 400px;
  padding: 1rem;
  border: solid 1px hsl(0, 0%, 87%);
  vertical-align: top;
}
#wp-logify-filters .wp-logify-filter-label {
  margin-bottom: 0.25rem;
}

#wp-logify-keyword-filter,
#wp-logify-post-type-filter,
#wp-logify-taxonomy-filter,
#wp-logify-user-filter,
#wp-logify-role-filter,
#wp-logify-event-type-filter {
  width: 20rem;
}