/* Admin styles for WP Logify */
.wrap .form-table th {
  width: 150px;
}

.wp-logify-user-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
}
.wp-logify-user-info a {
  font-weight: bold;
}

.wp-logify-user-role {
  font-size: 0.9em;
  color: #555;
}

.wrap .wp-logify-settings-table {
  width: 100%;
}
.wrap .wp-logify-settings-table th {
  width: 14rem;
}

.wp-logify-settings-radio {
  display: block;
  margin: 0.5rem 0;
}