.table-wp-logify {
  width: 100%;
  border-collapse: collapse;
}
.table-wp-logify th,
.table-wp-logify td {
  border: 1px solid #ddd;
  padding: 0.5rem;
}
.table-wp-logify th {
  background-color: #f7f7f7;
  text-align: left;
}
.table-wp-logify th.dt-type-numeric.column-id {
  text-align: left;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.2rem 0.5rem;
}
.dataTables_wrapper .dataTables_filter {
  display: none;
  /* Hide default DataTables search box */
}
.dataTables_wrapper .dataTables_length select {
  width: 53px;
}

#wp-logify-activity-log_length {
  margin-bottom: 1rem;
}

#wp-logify-activity-log_processing {
  margin-top: -8px;
  background: repeating-linear-gradient(45deg, hsl(200, 66%, 95%), hsl(200, 66%, 95%) 1rem, white 1rem, white 2rem);
  background-size: 200% 200%;
  animation: slide 60s linear infinite;
  border: solid 1px hsl(200, 66%, 85%);
}

@keyframes slide {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0%;
  }
}
#wp-logify-activity-log th.details-control {
  text-align: center;
}
#wp-logify-activity-log td.details-control {
  text-align: center;
}
#wp-logify-activity-log .wp-logify-show-details {
  background-color: #eee;
  color: #2271b1;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  cursor: pointer;
}

#wp-logify-activity-log_wrapper select {
  background-color: white;
  width: 55px;
}

.wp-logify-details {
  margin-bottom: 1rem;
}
.wp-logify-details .wp-logify-details-section {
  display: inline-block;
}
.wp-logify-details .wp-logify-details-section h4 {
  margin-bottom: 0.25rem;
}
.wp-logify-details .wp-logify-details-section .wp-logify-details-table {
  border-collapse: collapse;
  width: 20rem;
  margin-right: 1rem;
}

.wp-logify-user-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5rem;
}
.wp-logify-user-info a {
  font-weight: bold;
}
.wp-logify-user-info .wp-logify-user-role {
  font-size: 0.9em;
  color: #555;
}