$wp-blue: hsl(202, 100%, 34%); // #0073AA;
$wp-blue-85: hsl(202, 100%, 85%);
$wp-blue-95: hsl(202, 100%, 95%);

$gray-33: hsl(0, 0%, 33%);
$gray-93: hsl(0, 0%, 93%);
$gray-87: hsl(0, 0%, 87%);
$gray-97: hsl(0, 0%, 97%);

$red-92: hsl(0, 100%, 92%);
$red-95: hsl(0, 100%, 95%);

$orange-92: hsl(30, 100%, 92%);
$orange-95: hsl(30, 100%, 95%);

$yellow-92: hsl(60, 100%, 92%);
$yellow-95: hsl(60, 100%, 95%);

$chartreuse-92: hsl(90, 100%, 92%);
$chartreuse-95: hsl(90, 100%, 95%);

$green-92: hsl(120, 100%, 92%);
$green-95: hsl(120, 100%, 95%);

$springgreen-92: hsl(150, 100%, 92%);
$springgreen-95: hsl(150, 100%, 95%);

$cyan-92: hsl(180, 100%, 92%);
$cyan-95: hsl(180, 100%, 95%);

$blue-92: hsl(210, 100%, 92%);
$blue-95: hsl(210, 100%, 95%);

$violet-92: hsl(240, 100%, 92%);
$violet-95: hsl(240, 100%, 95%);

$purple-92: hsl(270, 100%, 92%);
$purple-95: hsl(270, 100%, 95%);

$pink-92: hsl(300, 100%, 92%);
$pink-95: hsl(300, 100%, 95%);

$rose-92: hsl(330, 100%, 92%);
$rose-95: hsl(330, 100%, 95%);
