$gray-33: hsl(0, 0%, 33%);
$gray-50: hsl(0, 0%, 50%);
$gray-73: hsl(0, 0%, 73%);
$gray-87: hsl(0, 0%, 87%);
$gray-93: hsl(0, 0%, 93%);
$gray-97: hsl(0, 0%, 97%);

$red-92: hsl(0, 100%, 92%);
$red-95: hsl(0, 100%, 95%);

$orange-92: hsl(30, 100%, 92%);
$orange-95: hsl(30, 100%, 95%);

$yellow-92: hsl(60, 100%, 92%);
$yellow-95: hsl(60, 100%, 95%);

$chartreuse-92: hsl(90, 100%, 92%);
$chartreuse-95: hsl(90, 100%, 95%);

$green-92: hsl(120, 100%, 92%);
$green-95: hsl(120, 100%, 95%);

$springgreen-92: hsl(150, 100%, 92%);
$springgreen-95: hsl(150, 100%, 95%);

$cyan-92: hsl(180, 100%, 92%);
$cyan-95: hsl(180, 100%, 95%);

$blue-33: hsl(210, 100%, 33%);
$blue-85: hsl(210, 100%, 85%);
$blue-92: hsl(210, 100%, 92%);
$blue-95: hsl(210, 100%, 95%);

$violet-92: hsl(240, 100%, 92%);
$violet-95: hsl(240, 100%, 95%);

$purple-92: hsl(270, 100%, 92%);
$purple-95: hsl(270, 100%, 95%);

$pink-92: hsl(300, 100%, 92%);
$pink-95: hsl(300, 100%, 95%);

$rose-92: hsl(330, 100%, 92%);
$rose-95: hsl(330, 100%, 95%);

$danger: #dc3232;
$danger-hover: lighten($danger, 5%);

@mixin object-type-colors {
    .wp-logify-object-type-all {
        background-color: white;
        border-color: $gray-93;

        &.shown,
        &:hover {
            background-color: $gray-93;
        }
    }

    .wp-logify-object-type-comment {
        background-color: $cyan-95;
        border-color: $cyan-92;

        &.shown,
        &:hover {
            background-color: $cyan-92;
        }
    }

    .wp-logify-object-type-core {
        background-color: $rose-95;
        border-color: $rose-92;

        &.shown,
        &:hover {
            background-color: $rose-92;
        }
    }

    .wp-logify-object-type-option {
        background-color: $purple-95;
        border-color: $purple-92;

        &.shown,
        &:hover {
            background-color: $purple-92;
        }
    }

    .wp-logify-object-type-plugin {
        background-color: $green-95;
        border-color: $green-92;

        &.shown,
        &:hover {
            background-color: $green-92;
        }
    }

    .wp-logify-object-type-post {
        background-color: $blue-95;
        border-color: $blue-92;

        &.shown,
        &:hover {
            background-color: $blue-92;
        }
    }

    .wp-logify-object-type-taxonomy {
        background-color: $pink-95;
        border-color: $pink-92;

        &.shown,
        &:hover {
            background-color: $pink-92;
        }
    }

    .wp-logify-object-type-term {
        background-color: $red-95;
        border-color: $red-92;

        &.shown,
        &:hover {
            background-color: $red-92;
        }
    }

    .wp-logify-object-type-theme {
        background-color: $orange-95;
        border-color: $orange-92;

        &.shown,
        &:hover {
            background-color: $orange-92;
        }
    }

    .wp-logify-object-type-translation {
        background-color: $springgreen-95;
        border-color: $springgreen-92;

        &.shown,
        &:hover {
            background-color: $springgreen-92;
        }
    }

    .wp-logify-object-type-user {
        background-color: $yellow-95;
        border-color: $yellow-92;

        &.shown,
        &:hover {
            background-color: $yellow-92;
        }
    }

    .wp-logify-object-type-widget {
        background-color: $chartreuse-95;
        border-color: $chartreuse-92;

        &.shown,
        &:hover {
            background-color: $chartreuse-92;
        }
    }
}
