$gray-33: #555;
$gray-50: #808080;
$gray-66: #aaa;
$gray-73: #bbb;
$gray-80: #ccc;
$gray-86: #ddd;
$gray-93: #eee;
$gray-96: #f7f7f7;

$red-border: #ffb3b3;
$red-base: #ffd6d6;
$red-hover: #ffebeb;

$orange-border: #ffcfb3;
$orange-base: #ffe0d6;
$orange-hover: #fff0eb;

$yellow-border: #ebeb47;
$yellow-base: #fcfccf;
$yellow-hover: #ffffeb;

$lime-border: #bbff80;
$lime-base: #e8ffd6;
$lime-hover: #f4ffeb;

$green-border: #99ff99;
$green-base: #d6ffd6;
$green-hover: #ebffeb;

$springgreen-border: #b3ffcf;
$springgreen-base: #d6ffe0;
$springgreen-hover: #ebfff0;

$cyan-border: #80ffff;
$cyan-base: #d6ffff;
$cyan-hover: #ebffff;

$blue-border: #b3cfff;
$blue-base: #d6e0ff;
$blue-hover: #ebf0ff;

$violet-border: #b3b3ff;
$violet-base: #d6d6ff;
$violet-hover: #ebebff;

$purple-border: #cfb3ff;
$purple-base: #e0d6ff;
$purple-hover: #f0ebff;

$pink-border: #ffb3ff;
$pink-base: #ffd6ff;
$pink-hover: #ffebff;

$rose-border: #ffb3cf;
$rose-base: #ffd6e0;
$rose-hover: #ffebf0;

// WP classic colors.
// @see https://make.wordpress.org/design/handbook/design-guide/foundations/colors/
// Accent Red.
$danger: #dc3232;
$danger-hover: lighten($danger, 5%);
// Accent Orange.
$action: #f56e28;
$action-hover: lighten($action, 5%);

@mixin object-type-colors {
    .logify-wp-object-type-all {
        background-color: white;
        border-color: $gray-93;
    }

    .logify-wp-object-type-comment {
        background-color: $cyan-base;
        border-color: $cyan-border;
    }

    .logify-wp-object-type-core {
        background-color: $rose-base;
        border-color: $rose-border;
    }

    .logify-wp-object-type-option {
        background-color: $purple-base;
        border-color: $purple-border;
    }

    .logify-wp-object-type-plugin {
        background-color: $green-base;
        border-color: $green-border;
    }

    .logify-wp-object-type-post {
        background-color: $blue-base;
        border-color: $blue-border;
    }

    .logify-wp-object-type-taxonomy {
        background-color: $pink-base;
        border-color: $pink-border;
    }

    .logify-wp-object-type-term {
        background-color: $red-base;
        border-color: $red-border;
    }

    .logify-wp-object-type-theme {
        background-color: $orange-base;
        border-color: $orange-border;
    }

    .logify-wp-object-type-translation {
        background-color: $springgreen-base;
        border-color: $springgreen-border;
    }

    .logify-wp-object-type-user {
        background-color: $yellow-base;
        border-color: $yellow-border;
    }

    .logify-wp-object-type-widget {
        background-color: $lime-base;
        border-color: $lime-border;
    }
}
