@import 'colors';

.logify-wp-stats {
    display: flex;
    gap: 0.5rem;
}

.logify-wp-stats-box {
    flex: 1;
    box-sizing: border-box;
    padding: 0.5rem;
    text-align: center;
    border: solid 1px $gray-87;
    background-color: $gray-97;
}

.logify-wp-stats-number {
    font-size: 4rem;
    margin: 0;
}

.logify-wp-stats-title {
    margin: 0;
    font-size: 1rem;
}

.logify-wp-widget-links {
    margin: 0;
    padding-bottom: 0.25rem;

    li {
        display: inline;
    }

    .logify-wp-separator {
        color: $gray-87;
        padding: 0 0.5rem;
    }
}

#logify-wp-dashboard-table {
    width: 100%;
    border-collapse: collapse;
    border: solid 1px $gray-50;
    margin: 1rem 0;

    @include object-type-colors;

    th,
    td {
        border: 1px solid $gray-87;
        padding: 0.5rem;
    }

    th {
        background-color: $gray-97;
        text-align: left;
    }

    .logify-wp-deleted-object {
        font-style: italic;
    }

    .logify-wp-event-row {
        cursor: pointer;
    }
}
