@import 'colors';

.table-wp-logify {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid $gray-87;
        padding: 0.5rem;
    }

    th {
        background-color: $gray-97;
        text-align: left;
    }

    th.dt-type-numeric.column-id {
        text-align: left;
    }

    td {
        cursor: pointer;
    }
}

.dataTables_wrapper {
    .dataTables_paginate .paginate_button {
        padding: 0.2rem 0.5rem;
    }

    .dataTables_filter {
        display: none;
        /* Hide default DataTables search box */
    }

    .dataTables_length select {
        width: 3.25rem;
    }
}

#wp-logify-activity-log_length {
    margin-bottom: 1rem;
}

#wp-logify-activity-log_processing {
    margin-top: -0.5rem;
    background: repeating-linear-gradient(45deg, $blue-95, $blue-95 1rem, white 1rem, white 2rem);
    background-size: 200% 200%;
    animation: slide 60s linear infinite;
    border: solid 1px $blue-85;
}

@keyframes slide {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0%;
    }
}

#wp-logify-activity-log {
    @include object-type-colors;

    .wp-logify-summary-row,
    .wp-logify-details-row {

        &.shown,
        &:hover {

            >td,
            >th {
                border-color: $gray-73;
            }
        }
    }

    .wp-logify-show-details {
        background-color: $gray-93;
        color: $blue-33;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    .wp-logify-deleted-object {
        font-style: italic;
    }
}

.dt-search {
    margin: 1rem 0 0.5rem 0;
}

#dt-search-0 {
    background-color: white;
    width: 20rem;
}

.wp-logify-details {
    margin-bottom: 1rem;

    .wp-logify-details-section {
        display: inline-block;
        margin-left: 1rem;
        vertical-align: top;

        .wp-logify-details-table-wrapper {
            max-height: 32rem;
            overflow-y: auto;
        }

        table {
            border-collapse: collapse;

            >tbody>tr {
                >td {
                    width: 22rem;
                }
            }
        }

        h4 {
            margin-bottom: 0.25rem;
        }

        .wp-logify-details-table {
            border-collapse: collapse;

            td {
                background-color: white;
            }

            th,
            td {
                vertical-align: top;
            }
        }

        .wp-logify-user-details-table>tbody>tr>th {
            width: 8rem;
        }

        .wp-logify-properties-table>tbody>tr>th {
            width: 14rem;
        }

        .wp-logify-eventmeta-table>tbody>tr>th {
            width: 14rem;
        }

        td.wp-logify-value-unchanged {
            background-color: $gray-97;
        }
    }
}

.wp-logify-user-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.5rem;

    a {
        font-weight: bold;
    }

    .wp-logify-user-role {
        font-size: 0.9em;
        color: $gray-33;
    }
}

#wp-logify-object-type-filter {
    margin-top: 1rem;

    @include object-type-colors;

    .wp-logify-object-type-filter-item {
        display: inline-block;
        padding: 0.25rem;
        border-radius: 0.25rem;
        cursor: pointer;
        margin: 0.5rem 0.5rem 0 0;
        width: 6rem;
        border-style: solid;
        border-width: 1px;

        label {
            cursor: inherit;
        }
    }

    .wp-logify-object-type-all {
        border-color: $gray-87;
        margin-top: 0.25rem;
    }
}

#wp-logify-object-type-checkboxes {
    display: inline;
}

#wp-logify-log-filters {
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: $gray-97;

    td {
        width: 400px;
        padding: 1rem;
        border: solid 1px $gray-87;
    }

    .wp-logify-filter-label {
        margin-bottom: 0.25rem;
    }
}

#wp-logify-keyword-filter,
#wp-logify-post-type-filter,
#wp-logify-taxonomy-filter,
#wp-logify-user-filter,
#wp-logify-role-filter,
#wp-logify-event-type-filter {
    width: 20rem;
}
