@import 'colors';

$blue: #2271b1;
$light-blue: hsl(200, 66%, 65%);
$pale-blue: hsl(200, 66%, 85%);
$very-pale-blue: hsl(200, 66%, 95%);

$dark-grey: #555;
$light-grey: #ddd;
$pale-grey: #eee;
$very-pale-grey: #f7f7f7;

.table-wp-logify {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid $light-grey;
        padding: 0.5rem;
    }

    th {
        background-color: $very-pale-grey;
        text-align: left;
    }


    th.dt-type-numeric.column-id {
        text-align: left;
    }

    td {
        cursor: pointer;
    }
}

.dataTables_wrapper {
    .dataTables_paginate .paginate_button {
        padding: 0.2rem 0.5rem;
    }

    .dataTables_filter {
        display: none;
        /* Hide default DataTables search box */
    }

    .dataTables_length select {
        width: 3.25rem;
    }
}

#wp-logify-activity-log_length {
    margin-bottom: 1rem;
}

#wp-logify-activity-log_processing {
    margin-top: -0.5rem;
    background: repeating-linear-gradient(45deg, $very-pale-blue, $very-pale-blue 1rem, white 1rem, white 2rem);
    background-size: 200% 200%;
    animation: slide 60s linear infinite;
    border: solid 1px $pale-blue;
}

@keyframes slide {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0%;
    }
}

#wp-logify-activity-log {

    .wp-logify-summary-row,
    .wp-logify-details-row {

        &.shown,
        &:hover {

            >td,
            >th {
                border-color: #bbb;
            }
        }
    }

    .wp-logify-show-details {
        background-color: $pale-grey;
        color: $blue;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    .wp-logify-object-type-comment {
        background-color: $cyan-95;

        &.shown,
        &:hover {
            background-color: $cyan-92;
        }
    }

    .wp-logify-object-type-core {
        background-color: $mystic-95;

        &.shown,
        &:hover {
            background-color: $mystic-92;
        }
    }

    .wp-logify-object-type-option {
        background-color: $purple-95;

        &.shown,
        &:hover {
            background-color: $purple-92;
        }
    }

    .wp-logify-object-type-plugin {
        background-color: $green-95;

        &.shown,
        &:hover {
            background-color: $green-92;
        }
    }

    .wp-logify-object-type-post {
        background-color: $blue-95;

        &.shown,
        &:hover {
            background-color: $blue-92;
        }
    }

    .wp-logify-object-type-taxonomy {
        background-color: $pink-95;

        &.shown,
        &:hover {
            background-color: $pink-92;
        }
    }

    .wp-logify-object-type-term {
        background-color: $red-95;

        &.shown,
        &:hover {
            background-color: $red-92;
        }
    }

    .wp-logify-object-type-theme {
        background-color: $orange-95;

        &.shown,
        &:hover {
            background-color: $orange-92;
        }
    }

    .wp-logify-object-type-user {
        background-color: $yellow-95;

        &.shown,
        &:hover {
            background-color: $yellow-92;
        }
    }

    .wp-logify-deleted-object {
        font-style: italic;
    }
}

.dt-search {
    margin: 1rem 0 0.5rem 0;
}

#dt-search-0 {
    background-color: white;
    width: 20rem;
}

.wp-logify-details {
    margin-bottom: 1rem;

    .wp-logify-details-section {
        display: inline-block;
        margin-left: 1rem;
        vertical-align: top;

        .wp-logify-details-table-wrapper {
            max-height: 32rem;
            overflow-y: auto;
        }

        table {
            border-collapse: collapse;

            >tbody>tr {
                >th {
                    width: 10rem;
                }

                >td {
                    width: 20rem;
                }
            }
        }

        h4 {
            margin-bottom: 0.25rem;
        }

        .wp-logify-details-table {
            border-collapse: collapse;

            td {
                background-color: white;
            }
        }

        td.wp-logify-value-unchanged {
            background-color: #f7f7f7;
        }
    }
}

.wp-logify-user-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.5rem;

    a {
        font-weight: bold;
    }

    .wp-logify-user-role {
        font-size: 0.9em;
        color: #555;
    }
}
