@import 'colors';

body.logify-wp_page_logify-wp-settings {
    background-color: $gray-93;
}

.wrap .logify-wp-settings-table {
    width: 100%;

    th {
        width: 16rem;
    }
}

.logify-wp-settings-radio {
    display: block;
    margin: 0.5rem 0;
}

#logify-wp-delete-logs-button {
    background-color: $danger;
    border-color: $danger;
    color: white;
    box-shadow: 0 0 0 1px $danger;

    &:hover {
        background-color: $danger-hover;
        border-color: $danger-hover;
        box-shadow: 0 0 0 1px $danger-hover;
    }
}

#logify-wp-submit-button {
    width: 110px;
}

.logify-wp-settings-group {
    border: solid 1px $gray-80;
    border-radius: 0.5rem;
    width: 40rem;
    padding: 1rem;
    background-color: $gray-97;
    margin-top: 1rem;

    legend {
        font-size: 1rem;
        font-weight: bold;
    }
}

.logify-wp-role-access-msg {
    color: $gray-67;
}

#logify-wp-settings-users {
    max-height: 8rem;
    overflow: auto;
}

.wp-core-ui .button-action {
    background-color: $action;
    border-color: $action;
    color: white;

    &:hover,
    &:focus {
        background-color: $action-hover;
        border-color: $action-hover;
        color: white;
        box-shadow: none;
    }
}
